In [1]:
import pandas as pd

In [37]:
df = pd.read_csv("soc-redditHyperlinks-title.tsv", sep='\t') #reads .tsv file into pandas dataframe

In [38]:
df.head()

,SOURCE_SUBREDDIT,TARGET_SUBREDDIT,POST_ID,TIMESTAMP,LINK_SENTIMENT,PROPERTIES
0,rddtgaming,rddtrust,1u4pzzs,2013-12-31 16:39:18,1,"25.0,23.0,0.76,0.0,0.44,0.12,0.12,4.0,4.0,0.0,..."
1,xboxone,battlefield_4,1u4tmfs,2013-12-31 17:59:11,1,"100.0,88.0,0.78,0.02,0.08,0.13,0.07,16.0,16.0,..."
2,ps4,battlefield_4,1u4tmos,2013-12-31 17:59:40,1,"100.0,88.0,0.78,0.02,0.08,0.13,0.07,16.0,16.0,..."
3,fitnesscirclejerk,leangains,1u50xfs,2013-12-31 19:01:56,1,"49.0,43.0,0.775510204082,0.0,0.265306122449,0...."
4,fitnesscirclejerk,lifeprotips,1u51nps,2013-12-31 21:02:28,1,"14.0,14.0,0.785714285714,0.0,0.428571428571,0...."

In [40]:
def reduce(x):
    sentiments = x.split(",")[18:21] #stores positive, negative, and compound sentiment in list
    return sentiments

In [41]:
df["PROPERTIES"] = df["PROPERTIES"].apply(reduce)

In [51]:
df.head()

,SOURCE_SUBREDDIT,TARGET_SUBREDDIT,POST_ID,TIMESTAMP,LINK_SENTIMENT,PROPERTIES
0,rddtgaming,rddtrust,1u4pzzs,2013-12-31 16:39:18,1,"[0.0, 0.0, 0.0]"
1,xboxone,battlefield_4,1u4tmfs,2013-12-31 17:59:11,1,"[0.195, 0.0, 0.4404]"
2,ps4,battlefield_4,1u4tmos,2013-12-31 17:59:40,1,"[0.195, 0.0, 0.4404]"
3,fitnesscirclejerk,leangains,1u50xfs,2013-12-31 19:01:56,1,"[0.0, 0.0, 0.0]"
4,fitnesscirclejerk,lifeprotips,1u51nps,2013-12-31 21:02:28,1,"[0.0, 0.0, 0.0]"

In [61]:
grouped = df.groupby(["SOURCE_SUBREDDIT", "TARGET_SUBREDDIT"])

In [67]:
grouped.get_group(("ps4", "gaming"))
# grouped.first()

        POST_ID            TIMESTAMP  LINK_SENTIMENT               PROPERTIES
3933    1v8e8hs  2014-01-14 15:59:30               1          [0.0, 0.0, 0.0]
19254   1zisals  2014-03-04 03:38:44               1     [0.125, 0.0, 0.5719]
20681   1zwqigs  2014-03-08 11:09:43               1          [0.0, 0.0, 0.0]
67710   2bg6qes  2014-07-22 18:39:22               1    [0.0, 0.197, -0.4019]
113204  2mx41bs  2014-11-20 14:13:04               1          [0.0, 0.0, 0.0]
118739  2oe543s  2014-12-05 11:51:27               1     [0.474, 0.0, 0.4019]
158614  2yt2uxs  2015-03-12 10:16:34               1  [0.047, 0.275, -0.9022]
181674  34mdlms  2015-05-02 07:42:17               1          [0.0, 0.0, 0.0]
204779  3ahr5xs  2015-06-20 02:06:53               1     [0.139, 0.0, 0.4404]
220979  3e6jwes  2015-07-22 04:05:23               1          [0.0, 0.0, 0.0]
225804  3f8ctws  2015-07-30 18:43:52               1  [0.101, 0.146, -0.0207]
240938  3io3tss  2015-08-27 18:58:20               1          [0.0, 0.0, 0.0]
263308  3oikros  2015-10-13 00:22:57               1     [0.875, 0.0, 0.7906]
302181  3yng4qs  2015-12-29 04:53:43               1          [0.0, 0.0, 0.0]
319126  43jzggs  2016-01-31 09:39:40               1    [0.0, 0.428, -0.9136]
337698  49k1xrs  2016-03-08 11:16:24               1          [0.0, 0.0, 0.0]
347252   4cc65b  2016-03-28 14:04:44              -1          [0.0, 0.0, 0.0]
466388  5bpsmfs  2016-11-07 15:44:42               1          [0.0, 0.0, 0.0]
471596  5dd98vs  2016-11-16 18:00:41               1     [0.321, 0.0, 0.7964]
495948  5kxvo9s  2016-12-29 09:10:23               1    [0.0, 0.195, -0.4404]
507528  5ooeqos  2017-01-18 01:22:12               1          [0.0, 0.0, 0.0]